<div class="main-wrapper">

    <div class="account-content">
        <!-- <a routerLink="/apply/job" class="btn btn-primary apply-btn">Apply Job</a> -->
        <div class="container">

            <!-- Account Logo -->
            <div class="account-logo">
                <a href="javascript:void(0);"><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
            </div>
            <!-- /Account Logo -->
            <div class="marquee">
                <p>NOTE: Do Not ReFresh Or Go Back To Last Page</p>
            </div>
            <div class="account-box" *ngIf="myPage===mySelectedForm.EMAIL_PAGE">
                <div class="account-wrapper">
                    <h3 class="account-title">Forgot Password?</h3>
                    <p class="account-subtitle">Enter your email to get a password reset otp</p>

                    <!-- Account Form -->
                    <form [formGroup]="myForm" (ngSubmit)="sendEmailForForgetPassword()">
                        <div class="form-group">
                            <label>Email Address</label>
                            <input class="form-control" name="email" formControlName="email" [(ngModel)]="email"
                                type="text">
                        </div>
                        <span class="text-danger"
                            *ngIf="(myForm.get('email')?.touched ) && myForm.get('email')?.hasError('required')">
                            Email Is Required.
                        </span>
                        <span class="text-danger"
                            *ngIf="(myForm.get('email')?.touched ) && myForm.get('email')?.hasError('email')">
                            Email Formate Is Wrong.
                        </span>

                      
                        <app-custom-add-button  [process]="process" [buttonText]="'Get OTP'"></app-custom-add-button>
                        <div class="account-footer">
                            <p>Remember your password? <a routerLink="/login">Login</a></p>
                        </div>
                    </form>
                    <!-- /Account Form -->

                </div>
            </div>

            <!-- /otppage form -->

            <div class="account-box" *ngIf="myPage===mySelectedForm.OTPPAGE">
                <div class="account-wrapper">
                    <h3 class="account-title">OTP</h3>
                    <p class="account-subtitle">Verification your account</p>

                    <!-- Account Form -->
                    <form>
                        <div class="otp-wrap">
                            <input type="text" placeholder="X" name="opt1" [(ngModel)]="otp1" maxlength="1"
                                (input)="moveToNext($event, 1)" class="otp-input">
                            <input type="text" placeholder="X" name="opt2" [(ngModel)]="otp2" maxlength="1"
                                (input)="moveToNext($event, 2)" class="otp-input">
                            <input type="text" placeholder="X" name="opt3" [(ngModel)]="otp3" maxlength="1"
                                (input)="moveToNext($event, 3)" class="otp-input">
                            <input type="text" placeholder="X" name="opt4" [(ngModel)]="otp4" maxlength="1"
                                (input)="moveToNext($event, 4)" class="otp-input">
                        </div>
                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" (click)="verifyUser()"
                                type="submit">Enter</button>
                        </div>
                        <div class="account-footer">
                            <p>Not received yet? <a style="cursor: pointer; color: rgb(255, 142, 35);"
                                    (click)="resendOpt()">Resend OTP</a></p>
                        </div>
                    </form>

                </div>
            </div>
            <!-- /otp Form -->

            <!-- Change Forgat Pass Page -->

            <div class="account-box" *ngIf="myPage===mySelectedForm.ChangePasswordPage">
                <div class="account-wrapper">
                    <!-- <h3 class="account-title">OTP</h3> -->
                    <p class="account-subtitle">Enter New Password ?</p>

                    <!-- Account Form -->
                    <form [formGroup]="myForm2" (ngSubmit)="changeForgetPassword()">

                        <div class="form-group">
                            <label>New password</label>
                            <input type="password" class="form-control" formControlName="password" name="password"
                                [(ngModel)]="auth.password">
                        </div>
                        <div class="text-danger"
                            *ngIf="(myForm2.get('password')?.touched ) && (myForm2.get('password')?.hasError('pattern')&&myForm2.get('password')?.hasError('minlength'))">
                            password Should Contain UpperCase And LowerCase With Numbers.
                        </div>
                        <div class="text-danger"
                            *ngIf="(myForm2.get('password')?.touched ) && myForm2.get('password')?.hasError('minlength')">
                            password Length Must Be More Than 7.
                        </div>
                        <div class="text-danger"
                            *ngIf="(myForm2.get('password')?.touched ) && myForm2.get('password')?.hasError('required')">
                            password Is Required.
                        </div>

                        <div class="form-group">
                            <label>Confirm password</label>
                            <input type="password" class="form-control" formControlName="confirmPassword"
                                name="confirmPassword" [(ngModel)]="confirmPassword">
                        </div>
                        <div class="text-danger"
                            *ngIf="(myForm2.get('confirmPassword')?.touched && !myForm2.get('password')?.hasError('minlength')) && myForm2.get('confirmPassword')?.hasError('required')">
                            confirmPassword Is Required.
                        </div>
                        <div class="text-danger"
                            *ngIf="(myForm2.get('confirmPassword')?.touched &&!myForm2.get('password')?.hasError('minlength')) && myForm2?.hasError('passwordMatch')">
                            Password and confirmPassword Must Be Same.
                        </div>

                        <div class="form-group text-center">
                            <button class="btn btn-primary account-btn" type="submit">Enter</button>
                        </div>
                        <div class="account-footer">
                            <p>go to login? <a style="cursor: pointer; color: rgb(255, 142, 35);"
                                    routerLink="/login">login</a></p>
                        </div>
                    </form>
                    <!-- /Account Form -->

                </div>
            </div>
            <!-- Change Forgat Pass Page -->
        </div>
    </div>
</div>
<!-- /Main Wrapper -->