<!-- Header -->
<div class="header">

	<!-- Logo -->
	<div class="header-left">
		<a href="index.html" class="logo">
			<img src="assets/img/dollop-logo-01.png" class="img-fluid" alt="logo">
		</a>
		<a href="index.html" class="logo mini-sidebar-logo" style="display: none;">
			<img src="assets/img/dollop-logo-on-rel.png" class="img-fluid" alt="logo" style="max-width: 75%;">
		</a>
	</div>

	<style type="text/css">
		.mini-sidebar .logo {
			display: none !important;
			transition: .2s ease-in-out;
		}

		.mini-sidebar .mini-sidebar-logo {
			display: block !important;
			transition: .2s ease-in-out;
		}
	</style>

	<!-- /Logo -->

	<a id="toggle_btn" href="javascript:void(0);">
		<span class="bar-icon">
			<span></span>
			<span></span>
			<span></span>
		</span>
	</a>

	<!-- Header Title -->
	<div class="page-title-box">
		<!-- <h3>Dollop Infotech Pvt. Ltd.</h3>\ -->
		<h3 class="page-title">Welcome Admin!</h3>
	</div>
	<!-- /Header Title -->

	<a id="mobile_btn" class="mobile_btn" href="#sidebar"><i class="fa fa-bars"></i></a>

	<!-- Header Menu -->
	<ul class="nav user-menu">

		<!-- Search -->
		<!-- <li class="nav-item">
						<div class="top-nav-search">
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
						   </a>
							<form action="search.html" class="mr-2">
								<input class="form-control" type="text" placeholder="Search here">
								<button class="btn" type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
					</li> -->
		<!-- /Search -->

		<!-- Flag -->
		<li class="nav-item dropdown has-arrow flag-nav">

			<a class="btn  dropdown-toggle  main-drop" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
				aria-expanded="false">
				<img src="assets/img/flags/us.png" alt="" height="20"><span>English</span>

			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a href="javascript:void(0);" class="dropdown-item">
					<img src="assets/img/flags/us.png" alt="" height="16"> English
				</a>
				<a href="javascript:void(0);" class="dropdown-item">
					<img src="assets/img/flags/Ind.png" alt="" height="16"> Hindi
				</a>
				<a href="javascript:void(0);" class="dropdown-item">
					मराठी
				</a>
				<a href="javascript:void(0);" class="dropdown-item">
					ગુજરતી
				</a>
				<a href="javascript:void(0);" class="dropdown-item">
					বাঙালি
				</a>
				<a href="javascript:void(0);" class="dropdown-item">
					தமிழ்
				</a>
				<a href="javascript:void(0);" class="dropdown-item">
					తెలుగు
				</a>
				<a href="javascript:void(0);" class="dropdown-item">
					ಕನ್ನಡ
				</a>
			</div>
		</li>
		<!-- /Flag -->

		<!-- Notifications -->
		<li class="nav-item dropdown">
			
			<a class="btn  dropdown-toggle  main-drop" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown"
			aria-expanded="false">
				<span class="material-icons mt-3">notifications</span>
				<span class="badge badge-pill">3</span>
				<!-- <i class="fa fa-bell-o"></i> <span class="badge badge-pill">3</span> -->
			</a>
			<div class="dropdown-menu notifications">
				<div class="topnav-dropdown-header">
					<span class="notification-title">Notifications</span>
					<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
				</div>
				<div class="noti-content">
					<ul class="notification-list">
						<li class="notification-message">
							<a href="activities.html">
								<div class="media">
									<span class="avatar">
										<img alt="" src="assets/img/profiles/avatar-02.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">John Doe</span> added new task
											<span class="noti-title">Patient appointment booking</span>
										</p>
										<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="activities.html">
								<div class="media">
									<span class="avatar">
										<img alt="" src="assets/img/profiles/avatar-03.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed
											the task name <span class="noti-title">Appointment booking with payment
												gateway</span></p>
										<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="activities.html">
								<div class="media">
									<span class="avatar">
										<img alt="" src="assets/img/profiles/avatar-06.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span
												class="noti-title">Domenic Houston</span> and <span
												class="noti-title">Claire Mapes</span> to project <span
												class="noti-title">Doctor available module</span></p>
										<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="activities.html">
								<div class="media">
									<span class="avatar">
										<img alt="" src="assets/img/profiles/avatar-17.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed
											task <span class="noti-title">Patient and Doctor video conferencing</span>
										</p>
										<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="activities.html">
								<div class="media">
									<span class="avatar">
										<img alt="" src="assets/img/profiles/avatar-13.jpg">
									</span>
									<div class="media-body">
										<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added
											new task <span class="noti-title">Private chat module</span></p>
										<p class="noti-time"><span class="notification-time">2 days ago</span></p>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="activities.html">View all Notifications</a>
				</div>
			</div>
		</li>
		<!-- /Notifications -->

		<!-- Message Notifications -->
		<li class="nav-item dropdown">
			<a class="btn  dropdown-toggle  main-drop" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
			aria-expanded="false">
				<span class="material-icons mt-3">sms</span>
				<span class="badge badge-pill">8</span>
				<!-- <i class="fa fa-comment-o"></i> <span class="badge badge-pill">8</span> -->
			</a>
			<div class="dropdown-menu notifications">
				<div class="topnav-dropdown-header">
					<span class="notification-title">Messages</span>
					<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
				</div>
				<div class="noti-content">
					<ul class="notification-list">
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="assets/img/profiles/avatar-09.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author">Richard Miles </span>
										<span class="message-time">12:28 AM</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="assets/img/profiles/avatar-02.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author">John Doe</span>
										<span class="message-time">6 Mar</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="assets/img/profiles/avatar-03.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author"> Tarah Shropshire </span>
										<span class="message-time">5 Mar</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="assets/img/profiles/avatar-05.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author">Mike Litorus</span>
										<span class="message-time">3 Mar</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
						<li class="notification-message">
							<a href="chat.html">
								<div class="list-item">
									<div class="list-left">
										<span class="avatar">
											<img alt="" src="assets/img/profiles/avatar-08.jpg">
										</span>
									</div>
									<div class="list-body">
										<span class="message-author"> Catherine Manseau </span>
										<span class="message-time">27 Feb</span>
										<div class="clearfix"></div>
										<span class="message-content">Lorem ipsum dolor sit amet, consectetur
											adipiscing</span>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="topnav-dropdown-footer">
					<a href="chat.html">View all Messages</a>
				</div>
			</div>
		</li>
		<!-- /Message Notifications -->

		<!-- <li  class="nav-item dropdown has-arrow main-drop" *ngIf="user">
			<a   href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
				<span class="user-img"><img [src]="user.profileName" alt="">
					<span class="status online"></span></span>
				<span>{{user.firstName}}</span>
			</a>
			<ul >
			<div class="dropdown-menu profile_sec">

				<a class="dropdown-item" [routerLink]="baseRoute+'/employee/employee_profile/'+user.id">
					<span class="material-icons">perm_identity</span>
					My Profile
				</a>
				<a class="dropdown-item" (click)="toggleSetting()">
					<span class="material-icons">settings</span>
					Settings
				</a>
				<a class="dropdown-item" href="login.html" data-toggle="modal" data-target="#logout">
					<span class="material-icons">logout</span>
					Logout
				</a>
			</div>
			</ul>
		</li> -->
		<div class="dropdown nav-item dropdown has-arrow">
			<a class="btn  dropdown-toggle  main-drop" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
				aria-expanded="false">
				<span class="user-img"><img [src]="user.profileName" alt="">
					<span class="status online"></span></span>
				<span>{{user.firstName}}</span>
			</a>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				<li><a class="dropdown-item" [routerLink]="baseRoute+'/employee/employee_profile/'+user.id">
						<span class="material-icons">perm_identity</span>
						My Profile
					</a></li>
				<li><a class="dropdown-item" (click)="toggleSetting()">
						<span class="material-icons">settings</span>
						Settings
					</a></li>
				<li><a class="dropdown-item" data-toggle="modal" data-target="#logout">
						<span class="fa fa-fw fa-user"></span>
						Logout
					</a></li>
			</ul>
		</div>

	</ul>
	<!-- /Header Menu -->

	<!-- Mobile Menu -->
	<div class="dropdown mobile-user-menu">
		<a class="btn  dropdown-toggle  main-drop" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
		aria-expanded="false"><i
				class="fa fa-ellipsis-v"></i></a>
		<div class="dropdown-menu dropdown-menu-right">
			<a class="dropdown-item" [routerLink]="baseRoute+'/employee/employee_profile/'+user.id">
				<span class="material-icons">perm_identity</span>
				My Profile
			</a><a class="dropdown-item" (click)="toggleSetting()">
				<span class="material-icons">settings</span>
				Settings
			</a><a class="dropdown-item" data-toggle="modal" data-target="#logout">
				<span class="fa fa-fw fa-user"></span>
				Logout
			</a>
		</div>
	</div>
	<!-- /Mobile Menu -->

</div>
<!-- /Header -->

<!-- Delete Employee Modal -->
<div class="modal custom-modal fade" id="logout" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-header">
					<h3>Logout</h3>
					<p>Are you sure want to delete?</p>
				</div>
				<div class="modal-btn delete-action">
					<div class="row">
						<div class="col-6">
							<a href="javascript:void(0);" (click)="logOut()" data-dismiss="modal"
								class="btn btn-primary continue-btn">Logout</a>
						</div>
						<div class="col-6">
							<a href="javascript:void(0);" data-dismiss="modal"
								class="btn btn-primary cancel-btn">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Delete Employee Modal -->