<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-3">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="page-title">Change Password</h3>
						</div>
					</div>
				</div>
				<!-- /Page Header -->

				<form [formGroup]="myForm" (ngSubmit)="changePassword()">
					<div class="form-group">
						<label>Old password</label>
						<input type="password" class="form-control" formControlName="oldPassword" name="oldPassword"
							[(ngModel)]="changePasswordUtil.oldPassword">
					</div>
					<div class="text-danger"
						*ngIf="(myForm.get('oldPassword')?.touched ) && myForm.get('oldPassword')?.hasError('required')">
						oldPassword is Required.
					</div>

					<div class="form-group">
						<label>New password</label>
						<input type="password" class="form-control" formControlName="newPassword" name="newPassword"
							[(ngModel)]="changePasswordUtil.newPassword">
					</div>
					<div class="text-danger"
						*ngIf="(myForm.get('newPassword')?.touched ) && (myForm.get('newPassword')?.hasError('pattern')&&myForm.get('newPassword')?.hasError('minlength'))">
						newPassword Should Contain UpperCase And LowerCase With Numbers.
					</div>
					<div class="text-danger"
						*ngIf="(myForm.get('newPassword')?.touched ) && myForm.get('newPassword')?.hasError('minlength')">
						newPassword Length Must Be More Than 7.
					</div>
					<div class="text-danger"
						*ngIf="(myForm.get('newPassword')?.touched ) && myForm.get('newPassword')?.hasError('required')">
						newPassword Is Required.
					</div>

					<div class="form-group">
						<label>Confirm password</label>
						<input type="password" class="form-control" formControlName="confirmPassword" name="confirmPassword"
							[(ngModel)]="confirmPassword">
					</div>
					<div class="text-danger"
						*ngIf="(myForm.get('confirmPassword')?.touched && !myForm.get('password')?.hasError('minlength')) && myForm.get('confirmPassword')?.hasError('required')">
						confirmPassword Is Required.
					</div>
					<div class="text-danger"
						*ngIf="(myForm.get('confirmPassword')?.touched &&!myForm.get('password')?.hasError('minlength')) && myForm?.hasError('passwordMatch')">
						Password and confirmPassword Must Be Same.
					</div>

					<div class="submit-section">
						<button class="btn btn-primary submit-btn">Update Password</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

</div>
<!-- /Page Wrapper -->