<!-- Page Wrapper -->
<div class="page-wrapper">
	<div class="content container-fluid">
		<div class="row">
			<div class="col-md-6 offset-md-3">
                <div  *ngIf="resignation.id>0&&resignation.noticeDate==null" class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="page-title">you have Already Applied For resignation</h1>
						</div>
					</div>
				</div>

                
                <div  *ngIf="resignation.id>0&&resignation.noticeDate!=null" class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="page-title">Your Application For Resignation Has Been Approved And Your Notice date Is {{resignation.noticeDate}}</h1>
						</div>
					</div>
				</div>


                <div *ngIf="resignation.id==0">
				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h1 class="page-title">Apply Resignation</h1>
						</div>
					</div>
				</div>
				<!-- /Page Header -->

                <form    [formGroup]="E" (ngSubmit)="addResignation()" >
                    <!-- (ngModelChange)="optionSelected(inp)" -->

                    

                 
                    <div class="form-group">
                        <label>Reason <span class="">*</span></label>
                        <textarea class="form-control" rows="4" type="text" name="reason"
                        formControlName="reason"       [(ngModel)]="reason"></textarea>
                     <span class="text-danger"
                    *ngIf="(E.get('reason')?.touched ) && E.get('reason')?.hasError('required')">
                    Reason Is Required.
                </span>
                <span class="text-danger"
                *ngIf="(E.get('reason')?.touched ) && E.get('reason')?.hasError('pattern')">
                Reason Is Invalid .
            </span>


                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn"  type="submit">
                            Submit</button>
                    </div>
                </form>
            </div>
           
			</div>
		</div>
	</div>
	<!-- /Page Content -->

</div>
<!-- /Page Wrapper -->