
<!-- /Sidebar -->

<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Designations</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Designations</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a class="btn add-btn" data-toggle="modal"(click)="addForm()" data-target="#add_designation" *ngIf="permissions.isWriteable"><i class="fa fa-plus"></i> Add Designation</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

         <!-- Search Filter -->
         <div class="row filter-row">
            <!-- <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" name="id" [(ngModel)]="searching.id">
                    <label class="focus-label">Designation ID</label>
                </div>
            </div> -->
            <div class="col-sm-6 col-md-3">

                <div class="form-group">
                    <label>Designation <span class="text-danger">*</span></label>

                    <input type="text" class="form-control floating" name="title" [(ngModel)]="searching.title">
                </div>
            </div>
            <div class="col-sm-6 col-md-3" *ngIf="permissions.isReadable">
                <a (click)="filter()" class="btn btn-success btn-block"> Search </a>
            </div>
        </div>
        <!-- Search Filter -->


        
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Designation </th>
                                <th>Department </th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let designate of designations let i = index">
                                <td>{{sequence+i+1}}</td>
                                <td>{{designate.title}}</td>
                                <td>{{designate.department.title}}</td>
                                <td class="text-right">
                                <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" *ngIf="permissions.isEditable" (click)="setEditData(designate.id)" data-toggle="modal" data-target="#edit_designation"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item"  *ngIf="permissions.isDeleteable"  (click)="setDeleteData(designate.id)" data-toggle="modal" data-target="#delete_designation"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                    </div>
                                </td>
                            </tr>
                            <div *ngIf="designations.length==0" style="justify-content: center;text-align: center;
                            align-items: center;">Designations Not Found</div>
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Designation Modal -->
    <div id="add_designation" class="modal custom-modal fade" role="dialog" *ngIf="permissions.isWriteable">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Designation</h5>
                    <button type="button" class="close" id="edit" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" >
                        <div class="form-group">
                            <label class="col-form-label">Designation Title <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="title" name="title"
                                [(ngModel)]="designation.title">
                        </div>
                        <span class="text-danger"
                        *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('required')">
                        title is required
                    </span>
                    <span class="text-danger"
                        *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('min')">
                        Designation  title lenght should Be greater than 3.
                    </span>
                    <span class="text-danger"
                    *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('title')">
                    Designation  is invalid.
                </span>
                <span class="text-danger"
                *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('title')">
            Ex:- Javadepartments.
            </span>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Department <span class="text-danger">*</span></label>
                            <select  formControlName="option" #inp (change)="setDesignation($event)"
                                name="id">
                                <option *ngFor="let item of departments" [value]="item.id" (click)="check()">{{ item.title }}
                                </option>
                            </select>
                            <div 
                            *ngIf="(myForm.get('option')?.touched ) && myForm.get('option')?.hasError('required')">

                                Please select an option.
                            </div>
                        </div>
                    </div>
                        
                        <div class="submit-section">
                            <button    (click)="addDesignation()"  
                                class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Designation Modal -->
    
    <!-- Edit Designation Modal -->
    <div id="edit_designation" class="modal custom-modal fade" role="dialog" *ngIf="permissions.isEditable">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Designation</h5>
                    <button type="button" class="close" id="add" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" (ngSubmit)="updateDesignation()">
                        <div class="form-group">
                            <label class="col-form-label">Designation Title <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="title" name="title"
                                [(ngModel)]="designation.title">
                        </div>
                        <span class="text-danger"
                        *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('required')">
                        title is required
                    </span>
                    <span class="text-danger"
                        *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('min')">
                        Designation  title lenght should Be greater than 4.
                    </span>
                    <span class="text-danger"
                    *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('title')">
                    Designation  is invalid.
                </span>
                <span class="text-danger"
                *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('title')">
            Ex:- Javadepartments.
            </span>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Department <span class="text-danger">*</span></label>
                            <select  formControlName="option" #inp [(ngModel)]="designation.department.id"
                                name="id">
                                <option *ngFor="let item of departments" [value]="item.id">{{ item.title }}
                                </option>
                            </select>
                            <div 
                            *ngIf="(myForm.get('option')?.touched ) && myForm.get('option')?.hasError('required')">

                                Please select an option.
                            </div>
                        </div>
                    </div>
                       <div class="submit-section">
                            <button  (click)="updateDesignation()"   class="btn btn-primary submit-btn">Update</button>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
    </div>
    <!-- /Edit Designation Modal -->
    
    <!-- Delete Designation Modal -->
    <div class="modal custom-modal fade" id="delete_designation" role="dialog"  *ngIf="permissions.isDeleteable" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Designation</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a (click)="deleteDesignation()"  data-dismiss="modal" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Designation Modal -->

</div>
<!-- /Page Wrapper -->
