<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Resignation </h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="baseRoute">Dashboard</a></li>
                        <li class="breadcrumb-item active">Resignation</li>
                    </ul>
                </div>
                <!-- <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" *ngIf="permissions.isWriteable" data-toggle="modal"
                        data-target="#add_resignation"><i class="fa fa-plus"></i> Add Resignation</a>
                </div> -->
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-4">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" name="firstName"
                        [(ngModel)]="searching.employee.firstName">
                    <label class="focus-label">Resigning Employee </label>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <a (click)="filter()" class="btn btn-success btn-block"> Search </a>
            </div>
        </div>
        <!-- Search Filter -->

        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
        <!---pagination end -->

        <div class="row" *ngIf="permissions.isReadable">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Resigning Employee </th>
                                <th>Department </th>
                                <th>Reason </th>
                                <th>Notice Date </th>
                                <th>Resignation Date </th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let rg of resignations  let i = index">
                                <td>{{sequence+i+1}}</td>

                                <td>

                                    <h2 class="table-avatar">
                                        <a href="javascript:void(0);" class="avatar"><img
                                                [src]="rg.employee.profileName" alt=""></a>
                                        <a>{{rg.employee.firstName+" "+rg.employee.lastName}}
                                        </a>
                                    </h2>
                                </td>
                                <td>{{rg.employee.designation.department.title}}</td>
                                <td>{{rg.reason}}</td>
                                <td>{{rg.noticeDate}}</td>
                                <td>{{rg.resigning}}</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a type="buttpn" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">

                                            <a class="dropdown-item" *ngIf="permissions.isEditable&&rg.noticeDate==null"
                                                (click)="setEditData(rg.id)" data-toggle="modal"
                                                data-target="#edit_resignation"><i class="fa fa-pencil m-r-5"></i>
                                               Allow Resignation</a>
                                            <a class="dropdown-item" *ngIf="permissions.isDeleteable"
                                            (click)="deleteResignation(rg.id)" data-toggle="modal"
                                               ><i class="fa fa-trash-o m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <td>
                        <div *ngIf="resignations.length==0" style="justify-content: center;text-align: center;
                        align-items: center;">Resignations Not Found</div>
                   </td>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Resignation Modal -->



    <div id="add_resignation" class="modal custom-modal fade" role="dialog" *ngIf="permissions.isWriteable">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Resignation</h5>
                    <button type="button" class="close" id="add" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form [formGroup]="E" (ngSubmit)="addResignation()">
                        <!-- (ngModelChange)="optionSelected(inp)" -->

                        <div class="form-group">
                            <label>Resignation For <span class="text-danger">*</span></label>
                            <select #inp [(ngModel)]="resignation.employee.id" formControlName="employee" name="id">
                                <option *ngFor="let item of users" [value]="item.id">{{ item.firstName +" "+
                                    item.lastName }}</option>
                            </select>
                            <span class="text-danger"
                                *ngIf="(E.get('employee')?.touched ) && E.get('employee')?.hasError('required')">
                                Promotion For Is Required.
                            </span>


                        </div>

                        <div class="form-group">
                            <label>Notice Date <span class="">*</span></label>
                            <input class="form-control " max="2024-12-31" name="noticeDate" formControlName="noticeDate"
                                [(ngModel)]="resignation.noticeDate" type="date">
                            <span class="text-danger"
                                *ngIf="(E.get('noticeDate')?.touched ) && E.get('noticeDate')?.hasError('required')">
                                Notice Date Is Required.
                            </span>
                            <div *ngIf="E.get('noticeDate')?.hasError('notSunday')" class="text-danger">
                                Sundays are not allowed.
                              </div>
    
                    
                        </div>
                        <div class="form-group">
                            <label>Resigning Date <span class="">*</span></label>
                            <input class="form-control " [min]="todayDate" [max]="todayDate" name="resigning"
                                formControlName="resigning" [(ngModel)]="resignation.resigning" type="date">
                            <span class="text-danger"
                                *ngIf="(E.get('resigning')?.touched ) && E.get('resigning')?.hasError('required')">
                                Resigning Is Required.
                            </span>

                        </div>
                        <div class="form-group">
                            <label>Reason <span class="">*</span></label>
                            <textarea class="form-control" rows="4" type="text" name="reason" formControlName="reason"
                                [(ngModel)]="resignation.reason"></textarea>
                            <span class="text-danger"
                                *ngIf="(E.get('reason')?.touched ) && E.get('reason')?.hasError('required')">
                                Reason Is Required.
                            </span>
                            <span class="text-danger"
                                *ngIf="(E.get('reason')?.touched ) && E.get('reason')?.hasError('pattern')">
                                Reason Is Invalid .
                            </span>


                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit">
                                Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Resignation Modal -->

    <!-- Edit Resignation Modal -->
    <div id="edit_resignation" class="modal custom-modal fade" role="dialog" *ngIf="permissions.isEditable">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Provide Notice Date </h5>
                    <button type="button" class="close" id="eadit" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="eadit" (ngSubmit)="updateResignation()">
                        <div class="form-group">
                            <label>Resigning Date <span class="">*</span></label>
                            <input class="form-control " max="2024-12-31" name="resigning" formControlName="resigning"
                           readonly     [(ngModel)]="resignation.resigning" type="date">
                            <span class="text-danger"
                                *ngIf="(eadit.get('resigning')?.touched ) && eadit.get('resigning')?.hasError('required')">
                                Resigning Is Required.
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Notice Date <span class="">*</span></label>
                            <input class="form-control " [min]="resignation.resigning" name="noticeDate" formControlName="noticeDate"
                                [(ngModel)]="resignation.noticeDate" type="date">
                            <span class="text-danger"
                                *ngIf="(eadit.get('noticeDate')?.touched ) && eadit.get('noticeDate')?.hasError('required')">
                                Notice Date Is Required.
                            </span>

                        </div>
                      
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit">
                                Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Resignation Modal -->

    <!-- Delete Resignation Modal -->
    <div class="modal custom-modal fade" id="delete_resignation" role="dialog" *ngIf="permissions.isDeleteable">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Resignation</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">






                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Resignation Modal -->

</div>
<!-- /Page Wrapper -->