<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Goal Tracking</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="baseRoute">Dashboard</a></li>
                        <li class="breadcrumb-item active">Goal Tracking</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="#" *ngIf="permissions.isWriteable" class="btn add-btn" data-toggle="modal"
                        data-target="#add_goal"><i class="fa fa-plus"></i> Add New</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- ṣearching bar -->
        <div class="row filter-row">
            <!-- <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" name="status" [(ngModel)]="searching.status">
                    <label class="focus-label">goalList Status</label>
                </div>
            </div> -->
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" name="subject" [(ngModel)]="searching.subject">
                    <label class="focus-label">subject </label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <label>Select GoalTpye <span class="text-danger">*</span></label>
                    <select [(ngModel)]="searching.goalType.goalType" name="id">
                        <option *ngFor="let item of GoalTypes" [value]="item.goalType">{{ item.goalType }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <a (click)="filter()" class="btn btn-success btn-block"> Search </a>
            </div>
        </div>
        <!-- Search Filter -->
        <!---- pagination -->

        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
        <!---pagination end -->


        <div class="row">
            <div class="col-md-12" *ngIf="permissions.isReadable">
                <div class="table-responsive">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Goal Type</th>
                                <th>Subject</th>
                                <th>Target Achievement</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description </th>
                                <th>Status </th>
                                <th>Progress </th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let gl of goalTypeList;let i = index">
                                <td>{{sequence+i+1}}</td>
                                <td>{{gl.goalType.goalType}}</td>

                                <td>{{gl.subject}}</td>
                                <td>{{gl.targetAchievement}}</td>
                                <td>{{gl.startDate}}</td>
                                <td>{{gl.endDate}}</td>
                                <td>{{gl.description}}</td>

                                <td>
                                    <div class="dropdown action-label">
                                        <a type="button" class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                [ngClass]="'fa fa-dot-circle-o ' + (gl.status=='Active'?'text-success':'text-danger')">
                                                {{gl.status}} </i></a>
                                        <div class="dropdown-menu" *ngIf="permissions.isEditable">
                                            <a class="dropdown-item" (click)="updateGoalListStatus(gl.id,'Active')"><i
                                                    class="fa fa-dot-circle-o text-success"></i> Active</a>
                                            <a class="dropdown-item" (click)="updateGoalListStatus(gl.id,'InActive')"><i
                                                    class="fa fa-dot-circle-o text-danger"></i> Inactive</a>
                                        </div>
                                    </div>

                                </td>



                                <td>
                                    <p class="mb-1">Completed {{gl.progress}}%</p>
                                    <div class="progress" style="height:5px">
                                        <div class="progress-bar bg-primary progress-sm"
                                            [style]="'width:'+ gl.progress + '%;height:10px;'"></div>
                                    </div>
                                </td>

                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a type="button" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" *ngIf="permissions.isEditable"
                                                (click)="setEditData(gl.id)" data-toggle="modal"
                                                data-target="#edit_goal"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" *ngIf="permissions.isDeleteable"
                                                (click)="confirm(gl.id)" data-toggle="modal"
                                                data-target="#delete_goal"><i class="fa fa-trash-o m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <td>
                    <div *ngIf="goalTypeList.length==0" style="justify-content: center;text-align: center;
                    align-items: center;">Goal Type List Not Found</div>
                    </td>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Goal Modal -->
    <div id="add_goal" class="modal custom-modal fade" *ngIf="permissions.isWriteable" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Goal Tracking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" (ngSubmit)="addGoalList()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Select GoalTpye <span class="text-danger">*</span></label>
                                    <select [(ngModel)]="goalList.goalType.id" name="goalType"
                                        formControlName="goalType">
                                        <option *ngFor="let item of GoalTypes" [value]="item.id">{{ item.goalType }}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Subject</label>
                                    <input class="form-control" type="text" formControlName="subject" name="subject"
                                        [(ngModel)]="goalList.subject">
                                </div>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('required')">
                                    Subject Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('min')">
                                    Subject length should be greater than 3.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('max')">
                                    Subject length should be smaller than 25.
                                </span>

                                <span class="text-danger"
                                *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('title')">
                                Subject Is Invalid.
                            </span>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Target Achievement</label>
                                    <input class="form-control" type="text" name="targetAchievement"
                                        formControlName="targetAchievement" [(ngModel)]="goalList.targetAchievement">

                                </div>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('targetAchievement')?.touched ) && myForm.get('targetAchievement')?.hasError('required')">
                                    Target Achievement Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('targetAchievement')?.touched ) && myForm.get('targetAchievement')?.hasError('minlength')">
                                    Target Achievement length should be greater than 3.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('targetAchievement')?.touched ) && myForm.get('targetAchievement')?.hasError('maxlength')">
                                    Target Achievement length should be smaller than 25.
                                </span>
                                <span class="text-danger"
                                *ngIf="(myForm.get('targetAchievement')?.touched ) && myForm.get('targetAchievement')?.hasError('pattern')">
                                Target Achievement  Is Invalid.
                            </span>

                            </div>

                          
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date <span class="text-danger">*</span></label>
                                    <input class="form-control " [min]="todayDate" max="2024-12-31"
                                        formControlName="endDate" name="enddate" [(ngModel)]="goalList.endDate"
                                        type="date">

                                </div>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('endDate')?.touched ) && myForm.get('endDate')?.hasError('required')">
                                    endDate Is Required.
                                </span>
                                <span class="text-danger" *ngIf="myForm.get('endDate')?.hasError('invalidDate') ">
                                    Selected date must be at after 2 years .
                                </span>
                                <div *ngIf="myForm.get('endDate')?.hasError('notSunday')" class="text-danger">
                                    Sundays are not allowed.
                                  </div>
        
                        
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description <span class="text-danger">*</span></label>
                                    <textarea class="form-control" rows="4" name="description"
                                        formControlName="description" [(ngModel)]="goalList.description"></textarea>
                                </div>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('required')">
                                    Description Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('minlength')">
                                    Description length should be greater than 10.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('maxlength')">
                                    Description length should be smaller than 150.
                                </span>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button (click)="addGoalList()" data-dismiss="modal" [disabled]="myForm.invalid"
                                class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Goal Modal -->

    <!-- Edit Goal Modal -->
    <div id="edit_goal" class="modal custom-modal fade" *ngIf="permissions.isEditable" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Goal Tracking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" (ngSubmit)="updateGoalList()">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Select GoalTpye <span class="text-danger">*</span></label>
                                    <select [(ngModel)]="goalList.goalType.id" name="goalType"
                                        formControlName="goalType">
                                        <option *ngFor="let item of GoalTypes" [value]="item.id">{{ item.goalType }}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Subject</label>
                                    <input class="form-control" type="text" formControlName="subject" name="subject"
                                        [(ngModel)]="goalList.subject">
                                </div>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('required')">
                                    Subject Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('min')">
                                    Subject length should be greater than 3.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('max')">
                                    Subject length should be smaller than 25.
                                </span>

                                <span class="text-danger"
                                *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('title')">
                                Subject Is Invalid.
                            </span>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Target Achievement</label>
                                    <input class="form-control" type="text" name="targetAchievement"
                                        formControlName="targetAchievement" [(ngModel)]="goalList.targetAchievement">

                                </div>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('targetAchievement')?.touched ) && myForm.get('targetAchievement')?.hasError('required')">
                                    Target Achievement Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('targetAchievement')?.touched ) && myForm.get('targetAchievement')?.hasError('minlength')">
                                    Target Achievement length should be greater than 3.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('targetAchievement')?.touched ) && myForm.get('targetAchievement')?.hasError('maxlength')">
                                    Target Achievement length should be smaller than 25.
                                </span>
                                <span class="text-danger"
                                *ngIf="(myForm.get('subject')?.touched ) && myForm.get('subject')?.hasError('pattern')">
                                Subject Is Invalid.
                            </span>

                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End Date <span class="text-danger">*</span></label>
                                    <input class="form-control " [min]="todayDate" max="2024-12-31"
                                        formControlName="endDate" name="enddate" [(ngModel)]="goalList.endDate"
                                        type="date">

                                </div>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('endDate')?.touched ) && myForm.get('endDate')?.hasError('required')">
                                    endDate Is Required.
                                </span>
                                <span class="text-danger" *ngIf="myForm.get('endDate')?.hasError('invalidDate') ">
                                    Selected date must be at after 2 years .
                                </span>
                                <div *ngIf="myForm.get('endDate')?.hasError('notSunday')" class="text-danger">
                                    Sundays are not allowed.
                                  </div>
        
                        
                            </div>

                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Description <span class="text-danger">*</span></label>
                                    <textarea class="form-control" rows="4" name="description"
                                        formControlName="description" [(ngModel)]="goalList.description"></textarea>
                                </div>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('required')">
                                    Description Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('minlength')">
                                    Description length should be greater than 10.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('maxlength')">
                                    Description length should be smaller than 150.
                                </span>
                            </div>
                        </div>
                          <div class="submit-section">
                            <button type="submit" data-dismiss="modal" [disabled]="myForm.invalid"
                                class="btn btn-primary submit-btn">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Goal Modal -->

    <!-- Delete Goal Modal -->
    <div class="modal custom-modal fade" id="delete_goal" *ngIf="permissions.isDeleteable" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Goal Tracking List</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a (click)="deleteGoalList()" data-dismiss="modal"
                                    class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Goal Modal -->

</div>
<!-- /Page Wrapper -->