a{
    cursor: pointer;
}

input.fa.fa-pencil {
    overflow: hidden;
    width: 2%;
}
.profile-img-wrap {
    height: 120px;
    /* position: absolute; */
    /* width: 120px; */
    background: #fff;
    overflow: hidden;
}


.margin-top{
    margin-top: 100px;
}

.img{
    display: flex;
    justify-content: center;
}