<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Ticket Types</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="baseRoute">Dashboard</a></li>
                        <li class="breadcrumb-item active">Ticket Types</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a (click)="addForm()" *ngIf="permissions.isWriteable"(click)="addForm" class="btn add-btn" data-toggle="modal"
                        data-target="#add_department"><i class="fa fa-plus"></i> Add Ticket Type</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Search Filter -->
        <div class="row filter-row">
            
            <div class="col-sm-6 col-md-3">

                <div class="form-group">
                    <input type="text" class="form-control floating" name="title" [(ngModel)]="searching.title">
                    
                    <label>Ticket Title <span class="text-danger">*</span></label>
                   </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <a (click)="filter()" class="btn btn-success btn-block"> Search </a>
            </div>
        </div>
        <!-- Search Filter -->
        <!---- pagination -->

        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
        <!---pagination end -->


        <div class="row" *ngIf="permissions.isReadable">
            <div class="col-md-12">
                <div>
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th> Title</th>
                                <th> Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let type of ticketTypes let i = index">
                                <td>{{sequence+i+1}}</td>
                                <td  >{{type.title}}</td>
                                <td>{{showDesc(type.description)?getDescription(type.description):getDescription(type.description)}} <p (click)="changeShow(type.description)">Read more</p></td>
                                <td>
                                    <div class="dropdown dropdown-action">
                                        <a type="button" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" *ngIf="permissions.isEditable"
                                                (click)="setEditData(type.id)" data-toggle="modal"
                                                data-target="#edit_department"><i class="fa fa-pencil m-r-5"></i>
                                                Edit</a>
                                            <a class="dropdown-item" data-toggle="modal"
                                                *ngIf="permissions.isDeleteable" (click)="deleteTicketType(type.id)"><i
                                                    class="fa fa-trash-o m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>

                                </td>

                            </tr>
                          
                        </tbody>
                       
                    </table>
                  <td>
                  <div *ngIf="ticketTypes.length==0" style="justify-content: center;text-align: center;
                    align-items: center;">Ticket Types Not Found</div>
                  </td>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Department Modal -->
    <div id="add_department" class="modal custom-modal fade" data-dismiss="modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" *ngIf="permissions.isWriteable">
                <div class="modal-header">
                    <h5 class="modal-title">Add Ticket Type</h5>
                    <button type="button" class="close" id="add"data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" (ngSubmit)="addTicketType()">
                        <div class="form-group">
                            <label class="col-form-label">Title <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="title" formControlName="title"[(ngModel)]="ticketType.title">
                            <span class="text-danger"
                            *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('required')">
                            Title Is Required.
                        </span>
                        <span class="text-danger"
                            *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('min')">
                            Title length should be greater than 3.
                        </span>
                        <span class="text-danger"
                            *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('max')">
                            Title length should be smaller than 25.
                        </span>
                        <span class="text-danger"
                        *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('title')">
                        Title length should be smaller than 25.
                    </span>
                       
                    </div>
                        <div class="form-group">
                            <label class="col-form-label">Description <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="description"
                            formControlName="description"    [(ngModel)]="ticketType.description">
                                <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('required')">
                                description Is Required.
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('minlength')">
                                description length should be greater than 5.
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('maxlength')">
                                description length should be smaller than 255.
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('pattern')">
                                Description is invalid.
                            </span>
                            </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" 
                                *ngIf="permissions.isWriteable" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Department Modal -->

    <!-- Edit Department Modal -->
    <div id="edit_department" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" *ngIf="permissions.isEditable">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Ticket Type</h5>
                    <button type="button" class="close"id="Eadit" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="E" (ngSubmit)="updateTicketType()">
                        <div class="form-group">
                            <label class="col-form-label">Title <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="title" formControlName="title"[(ngModel)]="ticketType.title">
                            <span class="text-danger"
                            *ngIf="(E.get('title')?.touched ) && E.get('title')?.hasError('required')">
                            Title Is Required.
                        </span>
                        <span class="text-danger"
                            *ngIf="(E.get('title')?.touched ) && E.get('title')?.hasError('min')">
                            Title length should be greater than 3.
                        </span>
                        <span class="text-danger"
                            *ngIf="(E.get('title')?.touched ) && E.get('title')?.hasError('max')">
                            Title length should be smaller than 25.
                        </span>
                        <span class="text-danger"
                            *ngIf="(E.get('title')?.touched ) && E.get('title')?.hasError('title')">
                            Title is invalid.
                        </span>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Description <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="description"
                            formControlName="description"    [(ngModel)]="ticketType.description">
                                <span class="text-danger"
                                *ngIf="(E.get('description')?.touched ) && E.get('description')?.hasError('required')">
                                description Is Required.
                            </span>
                            <span class="text-danger"
                                *ngIf="(E.get('description')?.touched ) && E.get('description')?.hasError('minlength')">
                                description length should be greater than 5.
                            </span>
                            <span class="text-danger"
                                *ngIf="(E.get('description')?.touched ) && E.get('description')?.hasError('maxlength')">
                                description length should be smaller than 255.
                            </span>
                            <span class="text-danger"
                                *ngIf="(E.get('description')?.touched ) && E.get('description')?.hasError('pattern')">
                                Description is invalid.
                            </span>
                            </div>
           <div class="submit-section">
                            <button class="btn btn-primary submit-btn" 
                               >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Department Modal -->

    <!-- Delete Department Modal -->
    <div class="modal custom-modal fade" id="delete_department" role="dialog">
        <div class="modal-dialog modal-dialog-centered" *ngIf="permissions.isDeleteable">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Ticket Type</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a data-dismiss="modal" href="javascript:void(0);" 
                                    class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Department Modal -->

</div>
<!-- /Page Wrapper -->