<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Leave Type</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Leave Type</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" data-target="#add_leavetype"><i
                            class="fa fa-plus"></i> Add Leave Type</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

            


        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Leave Type</th>
                              
                                <th>Status</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let lt of leaveTypes,  index as i">
                                <td>{{i+1}}</td>
                                <td>{{lt.title}}</td>
                                

                                <td>
                                    <div class="dropdown action-label">
                                        <a href="#" class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                [ngClass]="'fa fa-dot-circle-o ' + (lt.status=='Active'?'text-success':'text-danger')"></i>
                                            {{lt.status}} </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" (click)="updateLeaveTypeStatus(lt.id,'Active')"><i
                                                    class="fa fa-dot-circle-o text-success"></i> Active</a>
                                            <a class="dropdown-item"
                                                (click)="updateLeaveTypeStatus(lt.id,'InActive')"><i
                                                    class="fa fa-dot-circle-o text-danger"></i> Inactive</a>
                                        </div>
                                    </div>

                                </td>

                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" (click)="setEditData(lt.id)" data-toggle="modal"
                                                data-target="#edit_leavetype"><i class="fa fa-pencil m-r-5"></i>
                                                Edit</a>
                                            <a class="dropdown-item" (click)="confirm(lt.id)" data-toggle="modal"
                                                data-target="#delete_leavetype"><i class="fa fa-trash-o m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Leavetype Modal -->
    <div id="add_leavetype" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Leave Type</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" >
                        <div class="form-group">
                            <label>Leave Type <span class="text-danger">*</span></label>
                            <input class="form-control"      formControlName="title" type="text" name="title" [(ngModel)]="leaveType.title">

                            <span class="text-danger"
                            *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('required')">
                            Title Is Required.
                        </span>
                        <span class="text-danger"
                            *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('min')">
                            Title length should be greater than 3.
                        </span>
                        <span class="text-danger"
                            *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('max')">
                            Title length should be smaller than 25.
                        </span>
                        <span class="text-danger"
                        *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('title')">
                        Title Is invalid .
                    </span>
                    <span class="text-danger"
                    *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('title')">
                   Ex- Abcd.
                </span>


                        </div>
                        <!-- <div class="form-group">
                            <label>Number of days <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="description"
                                [(ngModel)]="leaveType.description">
                        </div>
                        -->

                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" data-dismiss="modal"
                                (click)="addLeaveType()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Leavetype Modal -->

    <!-- Edit Leavetype Modal -->
    <div id="edit_leavetype" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Leave Type</h5>
                    <button type="button" class="close"id="eadit" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="eadit" >
                        <div class="form-group">
                            <label>Leave Type <span class="text-danger">*</span></label>
                            <input class="form-control"      formControlName="title" type="text" name="title" [(ngModel)]="leaveType.title">

                            <span class="text-danger"
                            *ngIf="(eadit.get('title')?.touched ) && eadit.get('title')?.hasError('required')">
                            Title Is Required.
                        </span>
                        <span class="text-danger"
                            *ngIf="(eadit.get('title')?.touched ) && eadit.get('title')?.hasError('min')">
                            Title length should be greater than 3.
                        </span>
                        <span class="text-danger"
                            *ngIf="(eadit.get('title')?.touched ) && eadit.get('title')?.hasError('max')">
                            Title length should be smaller than 25.
                        </span>
                        <span class="text-danger"
                        *ngIf="(eadit.get('title')?.touched ) && eadit.get('title')?.hasError('title')">
                        Title Is invalid .
                    </span>
                    <span class="text-danger"
                    *ngIf="(eadit.get('title')?.touched ) && eadit.get('title')?.hasError('title')">
                   Ex- Abcd.
                </span>
                        </div>
  <!-- <div class="form-group">
                            <label>Status <span class="text-danger">*</span></label>
                            <select [(ngModel)]="leaveType.status" name="status">
                                <option name="status" value="Active">Active</option>
                                <option name="status" value="InActive">InActive</option>

                            </select>
                        </div> -->

                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" 
                                (click)="updateLeaveType()">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Leavetype Modal -->

    <!-- Delete Leavetype Modal -->
    <div class="modal custom-modal fade" id="delete_leavetype" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Leave Type</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a (click)="deleteLeaveType()" data-dismiss="modal"
                                    class="btn btn-primary continue-btn">Delete</a>

                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Leavetype Modal -->

</div>
<!-- /Page Wrapper -->