<!-- Page Wrapper -->
<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Expenses</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="baseRoute">Dashboard</a></li>
                        <li class="breadcrumb-item active">Expenses</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a (click)="add()" *ngIf="permissions.isWriteable" class="btn add-btn" data-toggle="modal"
                        data-target="#add_expense"><i class="fa fa-plus"></i> Add Expense</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->

        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" name="title" [(ngModel)]="searching.title">
                    <label class="focus-label">Item Name</label>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <select class="select floating" name="id" [(ngModel)]="searching.userId.id">
                        <option *ngFor="let item of users" [value]="item.id">{{ item.firstName }}</option>
                    </select>
                    <label class="focus-label">Purchased By</label>
                </div>
            </div> -->
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <label class="focus-label">Paid By</label>
                    <select class="select floating" name="paidBy" [(ngModel)]="searching.paidBy">

                        <option value="Cash"> Cash </option>
                        <option value="Cheque"> Cheque </option>
                    </select>
                </div>
            </div>




            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <a (click)="filter()" class="btn btn-success btn-block"> Search </a>
            </div>
        </div>
        <!-- /Search Filter -->
        <!---- pagination -->

        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="disabled" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex" aria-label="Select page">
        </mat-paginator>
        <!---pagination end -->



        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive" *ngIf="permissions.isReadable">
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Purchase From</th>
                                <th>Purchase Date</th>
                                <th>Purchased By</th>
                                <th>Amount</th>
                                <th>Paid By</th>
                                <th class="text-center">Status</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let ep of expenses">
                                <td>
                                    <strong>{{ep.title}}</strong>
                                </td>
                                <td>{{ep.description}}</td>
                                <td>{{ep.expenseDate}}</td>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="javascript:void(0);" class="avatar"><img
                                              [src]="ep.userId.profileName" alt=""></a>
                                        <a >{{ep.userId.firstName+" "+ep.userId.lastName}}
                                          </a>
                                    </h2>

                                </td>
                                <td>${{ep.amount}}</td>
                                <td>{{ep.paidBy}}</td>
                                <td class="text-center">
                                    <div class="dropdown action-label">
                                        <a type="button" class="btn btn-white btn-sm btn-rounded dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                [ngClass]="'fa fa-dot-circle-o ' + (ep.status=='Pending'?'text-danger':'text-success')">
                                            {{ep.status}} </i></a>
                                        <div class="dropdown-menu" *ngIf="permissions.isEditable">
                                            <a class="dropdown-item" (click)="updateStatus(ep.id,'Approved')"><i
                                                    class="fa fa-dot-circle-o text-success"></i> Approved</a>
                                            <a class="dropdown-item" (click)="updateStatus(ep.id,'Pending')"><i
                                                    class="fa fa-dot-circle-o text-danger"></i> Pending</a>
                                        </div>
                                    </div>

                                </td>

                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a type="button" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a *ngIf="permissions.isEditable" class="dropdown-item"
                                                (click)="setEditData(ep.id)" data-toggle="modal"
                                                data-target="#edit_expense"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" (click)="confirm(ep.id)" href="#"
                                                *ngIf="permissions.isDeleteable" data-toggle="modal"
                                                data-target="#delete_expense"><i class="fa fa-trash-o m-r-5"></i>
                                                Delete</a>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <td>
                        <div *ngIf="expenses.length==0" style="justify-content: center;text-align: center;
                        align-items: center;">Expenses Not Found</div>
                   </td>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Expense Modal -->
    <div id="add_expense" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" *ngIf="permissions.isWriteable">
                <div class="modal-header">
                    <h5 class="modal-title">Add Expense</h5>
                    <button type="button" class="close" id="add" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" (ngSubmit)="addExpenses()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Item Name</label>
                                    <input class="form-control"  type="text" name="title" formControlName="title"[(ngModel)]="expense.title">
                                    <span class="text-danger"
                                    *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('required')">
                                    Item Name Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('minlength')">
                                    Item Name length should be greater than 3.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('maxlength')">
                                    Item Name length should be smaller than 25.
                                </span>
                                <span class="text-danger"
                                *ngIf="(myForm.get('title')?.touched ) && myForm.get('title')?.hasError('pattern')">
                                Item Name Is invalid .
                            </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Purchase From</label>
                                    <input class="form-control" type="text" name="description"
                                    formControlName="description" [(ngModel)]="expense.description">
                                        <span class="text-danger"
                                        *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('required')">
                                        Purchase From Is Required.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('minlength')">
                                        Purchase From length should be greater than 3.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('maxlength')">
                                        Purchase From length should be smaller than 25.
                                    </span>
                                    <span class="text-danger"
                                    *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('pattern')">
                                    Purchase From Is invalid .
                                </span>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Purchased By <span class="text-danger">*</span></label>
                                    <select formControlName="userId" [(ngModel)]="expense.userId.id" name="id">
                                        <option *ngFor="let item of users" [value]="item.id">{{ item.firstName }}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                    *ngIf="(myForm.get('userId')?.touched ) && myForm.get('userId')?.hasError('required')">
                                    Purchased By Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('userId')?.touched ) && myForm.get('userId')?.hasError('minlength')">
                                    Purchased By length should be greater than 3.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(myForm.get('userId')?.touched ) && myForm.get('userId')?.hasError('maxlength')">
                                    Purchased By length should be smaller than 25.
                                </span>
                                <span class="text-danger"
                                *ngIf="(myForm.get('userId')?.touched ) && myForm.get('userId')?.hasError('pattern')">
                                Purchased By Is invalid .
                            </span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input placeholder="$50" class="form-control" type="text" name="amount"
                                    formControlName="amount" [(ngModel)]="expense.amount">
                                        <span class="text-danger"
                                        *ngIf="(myForm.get('amount')?.touched ) && myForm.get('amount')?.hasError('required')">
                                       Amount Is Required.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(myForm.get('amount')?.touched ) && myForm.get('amount')?.hasError('minlength')">
                                       Amount length should be greater than 3.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(myForm.get('amount')?.touched ) && myForm.get('amount')?.hasError('maxlength')">
                                       Amount length should be smaller than 25.
                                    </span>
                                    <span class="text-danger"
                                    *ngIf="(myForm.get('amount')?.touched ) && myForm.get('amount')?.hasError('pattern')">
                                   Amount Is invalid .
                                </span>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Paid By</label>
                                    <select formControlName="paidBy" [(ngModel)]="expense.paidBy" name="paidBy">
                                        <option>Cash</option>
                                        <option>Cheque</option>
                                    </select>
                                    <span class="text-danger"
                                *ngIf="(myForm.get('paidBy')?.touched ) && myForm.get('paidBy')?.hasError('required')">
                                Paid By Is Required.
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('paidBy')?.touched ) && myForm.get('paidBy')?.hasError('minlength')">
                                Paid By length should be greater than 3.
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('paidBy')?.touched ) && myForm.get('paidBy')?.hasError('maxlength')">
                                Paid By length should be smaller than 25.
                            </span>
                            <span class="text-danger"
                            *ngIf="(myForm.get('paidBy')?.touched ) && myForm.get('paidBy')?.hasError('pattern')">
                            Paid By Is invalid .
                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="form-group">
                                    <label>Upload Files</label>
                                     <input class="form-control" type="file" formControlName="file" (change)="selectedFile($event)">
                                     <span class="text-danger"
                                     *ngIf="(myForm.get('file')?.touched ) && myForm.get('file')?.hasError('required')">
                                     Upload Files Is Required.
                                 </span>
                                 <span class="text-danger"
                                     *ngIf="(myForm.get('file')?.touched ) && myForm.get('file')?.hasError('minlength')">
                                     Upload Files length should be greater than 3.
                                 </span>
                                 <span class="text-danger"
                                     *ngIf="(myForm.get('file')?.touched ) && myForm.get('file')?.hasError('maxlength')">
                                     Upload Files length should be smaller than 25.
                                 </span>
                                 <span class="text-danger"
                                 *ngIf="(myForm.get('file')?.touched ) && myForm.get('file')?.hasError('pattern')">
                                 Upload Files Is invalid .
                             </span>
                                </div>
                            </div>

                            <h3>Files Selected : </h3>


                            <div class="card-body" *ngIf="expense.expensesFiles.length!=0">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Size</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let file of expense.expensesFiles ; index as i">
                                                <td>{{file.name}}</td>
                                                <td>{{file.size | filesize}}</td>
                                                <td (click)="removeFile(file)">
                                                    <div style="cursor: pointer !important; "><i class="fa fa-remove"
                                                            style="font-size:18px;color:rgb(217, 60, 60)"></i></div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit"
                                >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Expense Modal -->

    <!-- Edit Expense Modal -->
    <div id="edit_expense" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" *ngIf="permissions.isEditable">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Expense</h5>
                    <button type="button" class="close"id="Eadit" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <form   [formGroup]="E" (ngSubmit)="updateExpenses()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Item Name</label>
                                    <input class="form-control"  type="text" name="title" formControlName="title"[(ngModel)]="expense.title">
                                    <span class="text-danger"
                                    *ngIf="(E.get('title')?.touched ) && E.get('title')?.hasError('required')">
                                    Item Name Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(E.get('title')?.touched ) && E.get('title')?.hasError('minlength')">
                                    Item Name length should be greater than 3.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(E.get('title')?.touched ) && E.get('title')?.hasError('maxlength')">
                                    Item Name length should be smaller than 25.
                                </span>
                                <span class="text-danger"
                                *ngIf="(E.get('title')?.touched ) && E.get('title')?.hasError('pattern')">
                                Item Name Is invalid .
                            </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Purchase From</label>
                                    <input class="form-control" type="text" name="description"
                                    formControlName="description" [(ngModel)]="expense.description">
                                        <span class="text-danger"
                                        *ngIf="(E.get('description')?.touched ) && E.get('description')?.hasError('required')">
                                        Purchase From Is Required.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(E.get('description')?.touched ) && E.get('description')?.hasError('minlength')">
                                        Purchase From length should be greater than 3.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(E.get('description')?.touched ) && E.get('description')?.hasError('maxlength')">
                                        Purchase From length should be smaller than 25.
                                    </span>
                                    <span class="text-danger"
                                    *ngIf="(E.get('description')?.touched ) && E.get('description')?.hasError('pattern')">
                                    Purchase From Is invalid .
                                </span>
                                    </div>
                            </div>
                        </div>
                        <div class="row">
                                                 <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Purchased By <span class="text-danger">*</span></label>
                                    <select formControlName="userId" [(ngModel)]="expense.userId.id" name="id">
                                        <option *ngFor="let item of users" [value]="item.id">{{ item.firstName }}
                                        </option>
                                    </select>
                                    <span class="text-danger"
                                    *ngIf="(E.get('userId')?.touched ) && E.get('userId')?.hasError('required')">
                                    Purchased By Is Required.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(E.get('userId')?.touched ) && E.get('userId')?.hasError('minlength')">
                                    Purchased By length should be greater than 3.
                                </span>
                                <span class="text-danger"
                                    *ngIf="(E.get('userId')?.touched ) && E.get('userId')?.hasError('maxlength')">
                                    Purchased By length should be smaller than 25.
                                </span>
                                <span class="text-danger"
                                *ngIf="(E.get('userId')?.touched ) && E.get('userId')?.hasError('pattern')">
                                Purchased By Is invalid .
                            </span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Amount</label>
                                    <input placeholder="$50" class="form-control" type="text" name="amount"
                                    formControlName="amount" [(ngModel)]="expense.amount">
                                        <span class="text-danger"
                                        *ngIf="(E.get('amount')?.touched ) && E.get('amount')?.hasError('required')">
                                       Amount Is Required.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(E.get('amount')?.touched ) && E.get('amount')?.hasError('minlength')">
                                       Amount length should be greater than 3.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(E.get('amount')?.touched ) && E.get('amount')?.hasError('maxlength')">
                                       Amount length should be smaller than 25.
                                    </span>
                                    <span class="text-danger"
                                    *ngIf="(E.get('amount')?.touched ) && E.get('amount')?.hasError('pattern')">
                                   Amount Is invalid .
                                </span>
                                    </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Paid By</label>
                                    <select formControlName="paidBy" [(ngModel)]="expense.paidBy" name="paidBy">
                                        <option>Cash</option>
                                        <option>Cheque</option>
                                    </select>
                                    <span class="text-danger"
                                *ngIf="(E.get('paidBy')?.touched ) && E.get('paidBy')?.hasError('required')">
                                Paid By Is Required.
                            </span>
                            <span class="text-danger"
                                *ngIf="(E.get('paidBy')?.touched ) && E.get('paidBy')?.hasError('minlength')">
                                Paid By length should be greater than 3.
                            </span>
                            <span class="text-danger"
                                *ngIf="(E.get('paidBy')?.touched ) && E.get('paidBy')?.hasError('maxlength')">
                                Paid By length should be smaller than 25.
                            </span>
                            <span class="text-danger"
                            *ngIf="(E.get('paidBy')?.touched ) && E.get('paidBy')?.hasError('pattern')">
                            Paid By Is invalid .
                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="form-group">
                                    <label>Upload Files</label>
                                     <input class="form-control" type="file" formControlName="file" (change)="selectedFile($event)">
                                     <span class="text-danger"
                                     *ngIf="(E.get('file')?.touched ) && E.get('file')?.hasError('required')">
                                     Upload Files Is Required.
                                 </span>
                                 <span class="text-danger"
                                     *ngIf="(E.get('file')?.touched ) && E.get('file')?.hasError('minlength')">
                                     Upload Files length should be greater than 3.
                                 </span>
                                 <span class="text-danger"
                                     *ngIf="(E.get('file')?.touched ) && E.get('file')?.hasError('maxlength')">
                                     Upload Files length should be smaller than 25.
                                 </span>
                                 <span class="text-danger"
                                 *ngIf="(E.get('file')?.touched ) && E.get('file')?.hasError('pattern')">
                                 Upload Files Is invalid .
                             </span>
                                </div>
                            </div>

                            <h3>Files Selected : </h3>


                            <div class="card-body" *ngIf="expense.expensesFiles.length!=0">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                            <tr>
                                                <th>File Name</th>
                                                <th>Size</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let file of expense.expensesFiles ; index as i">
                                                <td>{{file.name}}</td>
                                                <td>{{file.size | filesize}}</td>
                                                <td (click)="removeFile(file)">
                                                    <div style="cursor: pointer !important; "><i class="fa fa-remove"
                                                            style="font-size:18px;color:rgb(217, 60, 60)"></i></div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                               <div class="submit-section">
                            <button class="btn btn-primary submit-btn" 
                               type="submit" (click)="updateExpenses()">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Expense Modal -->

    <!-- Delete Expense Modal -->
    <div class="modal custom-modal fade" id="delete_expense" *ngIf="permissions.isDeleteable" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Expense</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a (click)="deleteExpenses()" data-dismiss="modal"
                                    class="btn btn-primary continue-btn">Delete</a>

                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Expense Modal -->

</div>
<!-- /Page Wrapper -->