.dropdown-item {
    cursor: pointer !important;
}

a.avatar {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    width: 100%;
}


// img {
//     overflow-clip-margin: content-box;
//     overflow: clip;
// }

.imagestudent{
    margin-top: 1% !important;
    height: 100%;
}