<div class="page-wrapper">

    <!-- Page Content -->
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Department</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Department</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a class="btn add-btn" (click)="addForm()"*ngIf="permissions.isWriteable" data-toggle="modal"
                        data-target="#add_department"><i class="fa fa-plus"></i>
                        Add Department</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Search Filter -->
        <div class="row filter-row">
            <!-- <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating" name="id" [(ngModel)]="searching.id">
                    <label class="focus-label">Department ID</label>
                </div>
            </div> -->
            <div class="col-sm-6 col-md-3">

                <div class="form-group">
                    <label>Department <span class="text-danger">*</span></label>

                    <input type="text" class="form-control floating" name="title" [(ngModel)]="searching.title">
                </div>
            </div>
            <div class="col-sm-6 col-md-3" *ngIf="permissions.isReadable">
                <a (click)="filter()" class="btn btn-success btn-block"> Search </a>
            </div>
        </div>
        <!-- Search Filter -->





        <div class="row">
            <div class="col-md-12" *ngIf="permissions.isReadable">
                <div>
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th style="width: 30px;">#</th>
                                <th>Department Title</th>
                                <th>Department Description</th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dep of departments let i = index">
                                <td>{{sequence+i+1}}</td>
                                <td>{{dep.title}}</td>
                                <td>{{dep.description}}</td>
                                <td>

                                    <div class="dropdown dropdown-action">
                                        <!-- <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown"
                                            aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" (click)="setEditData(dep.id)" data-toggle="modal"
                                                *ngIf="permissions.isEditable" data-target="#edit_department"><i
                                                    class="fa fa-pencil m-r-5"></i>
                                                Edit</a>
                                            <a class="dropdown-item" (click)="setDeleteData(dep.id)" data-toggle="modal"
                                                *ngIf="permissions.isDeleteable" data-target="#delete_department"><i
                                                    class="fa fa-trash-o m-r-5"></i>
                                                Delete</a>
                                        </div> -->
                                        <app-edit-delete-button  [permissions]="permissions" (edit)="onEdit(dep.id)"
                                        [editDataTarget]="'edit_department'" [deleteDataTarget]="'delete_department'"
                                        (delete)="onDelete(dep.id)"></app-edit-delete-button>
                                    </div>

                                </td>

                            </tr>
                            <div *ngIf="departments.length==0" style="justify-content: center;text-align: center;
                            align-items: center;">Departments Not Found</div>
                       
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->

    <!-- Add Department Modal -->
    <div id="add_department" class="modal custom-modal fade" data-dismiss="modal" role="dialog"
        *ngIf="permissions.isWriteable" >
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Department</h5>
                    <button type="button" class="close"id="add" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="myForm" (ngSubmit)="addDepartment()">
                        <div class="form-group">
                            <label class="col-form-label">Department Title <span class="text-danger">*</span></label>
                            <input class="form-control" formControlName="title" type="text" name="title"
                                [(ngModel)]="department.title">
                                <div *ngIf="myForm.get('title')?.hasError('pattern')" class="text text-danger">
                                    Title Length Is invalid.
                                </div>
                            </div>
                        <div *ngIf="myForm.invalid && (myForm.dirty || myForm.touched)" class="alert text-danger">
                            <div *ngIf="myForm.get('title')?.hasError('required')">
                                title is required.
                            </div>
                            <div *ngIf="myForm.get('title')?.hasError('min')" class="text text-danger">
                                Title Length Is ToShort.
                            </div>
                            <div *ngIf="myForm.get('title')?.hasError('title')" class="text text-danger">
                                Ex:- Devloping.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Description <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="description" formControlName="description"
                                [(ngModel)]="department.description">

                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('required')">
                                description is required
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('minlength')">
                                description should Be greater than 10.
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('maxlength')">
                                description should Be not be greater than 255.
                            </span>


                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn" type="submit" 
                                [disabled]="myForm.invalid">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Department Modal -->

    <!-- Edit Department Modal -->
    <div id="edit_department" class="modal custom-modal fade" role="dialog" *ngIf="permissions.isEditable">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Department</h5>
                    <button type="button" class="close" id="eadit" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               
                <div class="modal-body">
                    <form [formGroup]="myForm" (ngSubmit)="updateDepartment()">
                        <div class="form-group">
                            <label class="col-form-label">Department Title <span class="text-danger">*</span></label>
                            <input class="form-control" formControlName="title" type="text" name="title"
                                [(ngModel)]="department.title">
                                <div *ngIf="myForm.get('title')?.hasError('pattern')" class="text text-danger">
                                    Title Length Is invalid.
                                </div>
                            </div>
                        <div *ngIf="myForm.invalid && (myForm.dirty || myForm.touched)" class="alert text-danger">
                            <div *ngIf="myForm.get('title')?.hasError('required')">
                                title is required.
                            </div>
                            <div *ngIf="myForm.get('title')?.hasError('min')" class="text text-danger">
                                Title Length Is ToShort.
                            </div>
                            <div *ngIf="myForm.get('title')?.hasError('title')" class="text text-danger">
                                Ex:- Devloping.
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Description <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" name="description" formControlName="description"
                                [(ngModel)]="department.description">

                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('required')">
                                description is required
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('minlength')">
                                description should Be greater than 10.
                            </span>
                            <span class="text-danger"
                                *ngIf="(myForm.get('description')?.touched ) && myForm.get('description')?.hasError('maxlength')">
                                description should Be not be greater than 255.
                            </span>


                        </div>
                                <div class="submit-section">
                            <button class="btn btn-primary submit-btn" data-dismiss="modal"
                                (click)="updateDepartment()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Department Modal -->

    <!-- Delete Department Modal -->
    <div class="modal custom-modal fade" id="delete_department" role="dialog" *ngIf="permissions.isDeleteable">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Department</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a (click)="deleteDepartment()" data-dismiss="modal"
                                    class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal"
                                    class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Delete Department Modal -->

</div>
<!-- /Page Wrapper -->